@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

@*
<div class ="text-center">
@for (int i = 0; i < 20; i++)
{
    <p>Hallo Welt @i</p>
}
*@


<div class="text-center">
    <h1 class="display-4">@BasicRes.Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
